/* === COLOR VARIABLES === */
:root {
  /* Catppuccin Mocha color palette */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --cream: #f5e5c8;
  --stone: #c6d0f5;
  --dust: #a5adce;
  --fog: #b8c0e0;
  --cloud: #dce0f8;
  --mint: #a6f0c6;
  --aqua: #8bd5ca;
  --turquoise: #7dcfff;
  --periwinkle: #b4c7f5;
  --coral: #f28fad;
  --orchid: #dba0f5;
  --amber: #f9cf8f;
  --lime: #c3e88d;
  --fire: #ff757f;
  --warning: #ffb86c;
  --info: #8aadf4;
  --success: #a6da95;
  --critical: #ed8796;
  --neon-blue: #00eaff;
  --neon-green: #5eff8e;
  --neon-pink: #ff5baf;
  --neon-purple: #c75bff;
  --neon-orange: #ff944d;
  --neon-yellow: #f9ff56;
  --neon-red: #ff4c4c;
  --hot-pink: #ff66cc;
  --vivid-cyan: #00ffff;
  --vivid-lime: #b6ff00;
  --vivid-violet: #a259ff;
  --vivid-orange: #ff7b00;
  --neon-magenta: #ff00ff;
  --neon-purple: #bf00ff;
  --neon-blue: #00eaff;
  --electric-blue: #008cff;
  --neon-green: #39ff14;
  --electric-green: #00ff84;
  --neon-cyan: #00ffff;
  --aqua-electric: #00ffe1;
  --neon-yellow: #f9ff56;
  --lemon-glow: #fff700;
  --neon-orange: #ff7300;
  --hot-orange: #ff5500;
  --neon-red: #ff3131;
  --lava-red: #ff0000;
  --neon-pink: #ff44cc;
  --fuchsia-bright: #ff33cc;
  --neon-lime: #ccff00;
  --neon-turquoise: #30fdfa;
  --vivid-indigo: #5f00ff;
  --vivid-violet: #a259ff;

  /* Text colors */
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;

  /* Overlay colors */
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;

  /* Surface colors */
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #282936;

  /* Base colors */
  --base: #1e1e2e;
  --mantle: rgba(24, 24, 37, 0.5);
  --crust: rgba(17, 17, 27, 0.75);
  --transparent: rgba(0, 0, 0, 0.01);
}

/* === BASE STYLES === */
* {
  font-size: 14px;
  color: var(--subtext0);
  font-weight: 700;
  font-family: "JetBrainsMono NFP";
  margin: 0;
  padding: 0;
  color: white;
}

/* === BAR LAYOUT === */
.yasb-bar {
  background-color: rgba(0, 0, 0, 0.01);
}

.widget {
  padding: 0 8px;
  margin: 0 2px;
}

.widget .label {
  padding: 0px 2px;
}

.widget .label.alt {
  padding: 0px 2px;
}

.icon {
  font-size: 18px;
  margin: 0 4px 0 0;
}

/* === HOME WIDGET === */
.home-widget {
  background-color: var(--crust);
  padding: 1px 0px 0px 4px;
  margin: 1px 1px;
  border-radius: 5px;
}

.home-widget .icon {
  font-size: 20px;
  color: var(--subtext1);
}

.home-menu {
  background-color: var(--mantle);
  padding: 0;
  margin-left: 2px;
}

.home-menu .menu-item {
  padding: 8px 48px 8px 12px;
  font-weight: 600;
  color: var(--text);
}

.home-menu .menu-item:hover {
  background-color: var(--lavender);
  color: var(--surface0);
  margin: 4px 6px;
  border-radius: 4px;
}

.home-menu .separator {
  max-height: 1px;
  background-color: var(--overlay0);
  margin: 0 8px;
}

/* === MEDIA WIDGET === */
.media-widget {
  background-color: var(--crust);
  margin: 0px 0px;
  border-radius: 12px;
  border: 0;
}

.media-widget .label {
  font-size: 13px;
  font-weight: 800;
  border: 0px;
  border-radius: 10px;
}

.media-widget .btn.play {
  color: var(--sapphire);
  margin: 0px 0px 0px 0px;
  padding: 2px 8px;
  font-size: 25px;
  border-radius: 8px;
  margin: 0px 0px;
}

.media-widget .btn.play:hover {
  color: var(--electric-blue);
  background-color: var(--aqua-electric);
}

.media-widget .btn.prev {
  color: var(--sapphire);
  margin: 0px 0px 0px 0px;
  padding: 2px 8px;
  font-size: 17px;
  border-radius: 8px;
  margin: 0px 0px;
}

.media-widget .btn.prev:hover {
  color: var(--electric-blue);
  background-color: var(--aqua-electric);
}

.media-widget .btn.next {
  color: var(--sapphire);
  margin: 0px 0px 0px 0px;
  padding: 2px 8px;
  font-size: 17px;
  border-radius: 8px;
  margin: 0px 0px;
}

.media-widget .btn.next:hover {
  color: var(--electric-blue);
  background-color: var(--aqua-electric);
}

/* === SYSTRAY WIDGET === */
.systray {
  margin: 0px -3px;
}

.systray .unpinned-visibility-btn {
  border-radius: 9px;
  height: 18px;
  width: 18px;
  background-color: var(--crust);
  color: white;
}

.systray .unpinned-visibility-btn:checked {
  background: var(--neon-blue);
  border: 1px solid var(--neon-blue);
}

/* === APPLICATIONS WIDGET === */
.apps-widget {
  background-color: var(--crust);
  margin: 1px 0px;
  border-radius: 9px;
  border: 0;
}

.apps-widget .widget-container .label {
  color: var(--neon-blue);
  margin: 0px 0px 0px 0px;
}

/* === LAUNCHPAD WIDGET === */
.launchpad-widget {
  background-color: var(--crust);
  margin: 1px 0px;
  border-radius: 9px;
  border: 0;
}

.launchpad-widget .icon {
  color: var(--neon-orange);
  margin: 0px 0px 0px 0px;
}

.launchpad .app-icon {
  max-width: 160px;
  min-width: 160px;
  min-height: 140px;
  max-height: 160px;
}

.launchpad .app-icon:hover {
  border: 2px solid var(--neon-pink);
  background-color: rgba(255, 255, 255, 0.07);
  box-shadow: 0 0 10px var(--neon-pink);
}

.launchpad .app-icon .title {
  display: block;
  font-family: "JetBrainsMono NFP";
  font-size: 16px;
  color: var(--subtext0);
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 130px;
  margin-top: 6px;
}

.launchpad .search-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--lavender);
  color: var(--neon-cyan);
  font-weight: bold;
  font-size: 14px;
}

/* === CALENDAR WIDGET === */
.calendar {
  background-color: var(--mantle);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: transparent;
  color: rgba(162, 177, 196, 0.85);
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.calendar .calendar-table::item:selected {
  color: var(--crust);
  background-color: var(--lavender);
  border-radius: 5px;
}

.calendar .day-label {
  margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-size: 16px;
  color: var(--lavender);
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}

.calendar .month-label {
  font-weight: normal;
}

.calendar .date-label {
  font-size: 88px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-top: -20px;
}

/* === CLOCK WIDGET === */
.clock-widget {
  background-color: var(--crust);
  margin: 1px 0px;
  border-radius: 9px;
  border: 0;
}

.clock-widget .icon {
  color: var(--sky);
  margin: 0px 0px 0px 0px;
}

/* === CPU WIDGET === */
.cpu-widget {
  background-color: var(--crust);
  margin: 1px 0px;
  border-radius: 9px;
  border: 0;
}

.cpu-widget .icon {
  color: var(--sapphire);
  margin: 0px 0px 0px 0px;
}

/* === MEMORY WIDGET === */
.memory-widget {
  background-color: var(--crust);
  margin: 1px 0px;
  border-radius: 9px;
  border: 0;
}

.memory-widget .icon {
  color: var(--mauve);
  margin: 0px 0px 0px 0px;
}

/* === DISK WIDGET === */
.disk-widget {
  background-color: var(--crust);
  margin: 1px 0px;
  border-radius: 9px;
  border: 0;
}

.disk-widget .icon {
  color: var(--teal);
  margin: 0px 0px 0px 0px;
}

.disk-group {
  background-color: var(--mantle);
}

.disk-group-row {
  min-width: 220px;
  max-width: 220px;
  max-height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  border: 1px solid transparent;
}

.disk-group-row:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.disk-group-label-bar {
  max-height: 8px;
  border: 0;
  background-color: rgba(148, 226, 213, 0.3);
  border-radius: 4px;
}

.disk-group-label-bar::chunk {
  background-color: var(--teal);
  border-radius: 4px;
}

.disk-group-label {
  font-size: 13px;
}

.disk-group-label-size {
  font-size: 12px;
  color: rgba(205, 214, 244, 0.5);
}

.audio-container .device.selected {
  background-color: rgba(255, 255, 255, 0.085);
}

.audio-container .device:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

/* === RECYCLE BIN WIDGET === */
.recycle-bin-widget {
  background-color: var(--crust);
  margin: 1px 0px;
  border-radius: 9px;
  border: 0;
}

.recycle-bin-widget .icon {
  color: var(--rosewater);
  margin: 0px 0px 0px 0px;
}

/* === VOLUME WIDGET === */
.volume-widget {
  background-color: var(--crust);
  margin: 1px 0px;
  border-radius: 9px;
  border: 0;
}

.volume-widget .icon {
  color: var(--blue);
  margin: 0px 0px 0px 0px;
}

/* === POWER MENU === */
.power-menu-widget {
  background-color: var(--crust);
  margin: 1px 0px;
  border-radius: 9px;
  border: 0;
}

.power-menu-widget .label {
  color: var(--red);
  font-size: 13px;
}

.power-menu-popup {
  background-color: transparent;
}

.power-menu-popup .button {
  padding: 0;
  width: 180px;
  height: 230px;
  border-radius: 8px;
  background-color: var(--base);
  border: 8px solid rgba(58, 59, 83, 0);
  margin: 0px;
}

.power-menu-popup .button.hover {
  background-color: var(--surface0);
  border: 8px solid var(--surface0);
}

.power-menu-popup .button .label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--lavender);
}

.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
  color: var(--lavender);
}

.power-menu-popup .button.cancel {
  height: 32px;
  border-radius: 4px;
}

.power-menu-popup .button.cancel .icon {
  padding: 0;
  margin: 0;
}

.power-menu-popup .button.cancel .label {
  color: var(--red);
  margin: 0;
}
